/*  your css code here. If applicable */
h1 {
  text-align: center;
}

#buttons {
  text-align: center;
  margin-top: 20px;
}

.btn {
  margin-right: 10px;
}

.stop {
  background-color: red;
  color: white;
}
